# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
*.iobj
*.ipdb
*.pdb
*.ilk
*.ipch
/bin
/proj/*.user
/proj/*.filters
.vs
*.log
*.tlog
*.idb
*.aps

# MySql data directory
/external/mysql/mysql-8.0.11-winx64/data
/external/mysql/mysql-8.0.11-macos10.13-x86_64/data
*.exp
