.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables and garbage files after built
*.out
*.app
*.iobj
*.ipdb
*.pdb
*.ilk
*.ipch
/bin
/proj/Win32
/proj/x64
*.log
*.tlog
*.idb
*.aps
*.exp

# Visual Studio cache file directory
.vs

# Directory of node.js installed modules
node_modules
package-lock.json

# MySql data directory
/external/mysql/mysql-8.0.11-winx64/data
/external/mysql/mysql-8.0.11-winx64/bin/data
/external/mysql/mysql-8.0.11-macos10.13-x86_64/data

# Netbeans compiled files
/proj/ServerCore/build
/proj/ArmyAntServer/build
/proj/DatabaseProxyCore/build
/proj/DBProxy/build
/proj/ServerUtilities/build
/proj/SimpleEchoApp/build/
/proj/HuolongServer/build/

# XCode userdata settings
/proj/*.xcodeproj/xcuserdata
/proj/*.xcworkspace/xcuserdata

# Compiled protobuffer source files
/src/ProtobufSource

# Generated test files
/test/proto-js
/test/libprotobuf-js
/test/libclosure-js
/test/ArmyAnt.js
/test/package.json
/test/package-lock.json
/test/ArmyAntServer_TestClient_CSharp/ArmyAntServer_TestClient_CSharp/bin
/test/ArmyAntServer_TestClient_CSharp/ArmyAntServer_TestClient_CSharp/obj
/test/ArmyAntServer_TestClient_CSharp/ArmyAntServer_TestClient_CSharp/libprotobof
/test/ArmyAntServer_TestClient_CSharp/ArmyAntServer_TestClient_CSharp/protobufSource

